{% extends "framework.html" %}

{% block content %}
    <div class="row">
        {% for profile in profiles -%}
        <div class="col-12 col-lg-6 col-xl-3 mb-2 mb-lg-0">
            <div class="card shadow">
                <div class="card-header">
                    <h4 class="card-title my-3">{{ profile["player"]["name"] }}</h4>
                </div>
                <div class="card-body">
                    {% for key, value in profile["data"].items() %}
                    <div class="row mb-2 border-bottom pb-2">
                        <div class="col-9 fw-bold">{{ key }}</div>
                        <div class="col-3 text-end">{{ value }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {%- endfor %}
    </div>
{% endblock %}
